:root {
  --primary-text-color:#212121;
  --second-color:#757575;
  --accent-color:#2196F3;
  --fon-batton: #2196F3;
  --wite-color:#ffffff;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --transition-duration: 250ms;
  --background-color-backdrop: rgba(0, 0, 0, 0.2);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: 'roboto', sans-serif;
  background-color: #ffffff;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
  color: #000;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.work__title {
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-top: 0px;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .work__title {
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    margin-top: 0px;
    margin-bottom: 50px;
  }
}

.social-list__icon {
  transition-property: fill;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
  width: 20px;
  height: 20px;
  fill: #AFB1B8;
}

.social-list__link:hover .social-list__icon,
.social-list__link:focus .social-list__icon {
  fill: var(--wite-color);
}

.social-list {
  display: flex;
  justify-content: center;
}

.social-list__link {
  transition-property: background-color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50px;
}

.social-list__link:hover, .social-list__link:focus {
  background-color: #2196F3;
}

.social-list__link:not(:last-child) {
  margin-right: 10px;
}

.social-list__item:not(:last-child) {
  margin-right: 10px;
}

.backdrop {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--background-color-backdrop);
  z-index: 10;
  transition-property: opacity, visibility;
  transition-duration: var(--transition-duration);
  transition-timing-function: linear;
  background: rgba(0, 0, 0, 0.2);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  padding: 40px;
  width: 100%;
  height: 581px;
  background-color: var(--wite-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform var(--transition-duration) linear;
}

.modal-clos-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  background-color: var(--wite-color);
  border-radius: 50%;
  padding: 6px 6px;
  transition: fill var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-clos-btn:hover, .modal-clos-btn:focus {
  fill: var(--accent-color);
  transition: fill var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-clos-btn__icon {
  width: 18px;
  height: 18px;
}

@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}

.form__policy-link {
  color: var(--accent-color);
}

.backdrop .is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.8);
}

.form__head {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 12px;
}

.form {
  display: flex;
  flex-direction: column;
}

.form__label {
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.form__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  cursor: pointer;
  transition: border-color var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:focus {
  border-color: var(--accent-color);
  outline: none;
  transition: border-color var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1);
}

.form__icon {
  position: absolute;
  width: 18px;
  height: 18px;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}

.form__input:focus + .form__icon {
  fill: var(--accent-color);
  transition: fill var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input-wrapper {
  margin-top: 4px;
  display: block;
  position: relative;
}

.form__message {
  height: 120px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  resize: none;
  padding: 12px 16px;
  margin-top: 4px;
  transition: border-color var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1);
}

.form__message::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__message:focus {
  outline: none;
  border-color: var(--accent-color);
  transition: border-color var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.form__icon-checkbox {
  vertical-align: middle;
  display: inline-block;
  width: 16px;
  height: 16px;
  background: #FFFFFF;
  color: #FFFFFF;
  border: 2px solid #212121;
  border-radius: 4px;
  transition: background var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.form__checkbox:checked + .form__icon-checkbox {
  background-image: url(../images/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
  border-radius: 2px;
  border: 2px solid #2196F3;
  transition: background-image var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--accent-color);
}

.form__checkbox:focus + .form__icon-checkbox {
  border-color: var(--accent-color);
}

.form__checkbox-policy {
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  color: #757575;
  margin-bottom: 30px;
}

.form-btn {
  width: 200px;
  height: 50px;
  background: #2196F3;
  border-color: var(--accent-color);
  border-radius: 4px;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.form-btn:focus {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.06em;
  width: 200px;
  height: 50px;
  background: #2196F3;
  border-color: var(--accent-color);
  border-radius: 4px;
  color: #FFFFFF;
  line-height: 1.88;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .form__checkbox-policy {
    font-size: 14px;
    line-height: 1.71;
  }
}

.adds {
  text-align: center;
}

.footer-modal__subscription {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.03em;
  line-height: 1.14;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 20px;
}

.footer-form {
  text-align: center;
}

.footer__footer-modal {
  margin-top: 60px;
  max-width: 450px;
}

.footer-form__input {
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: inherit;
  padding-left: 16px;
}

.footer-btn {
  display: inline-flex;
  align-items: center;
  width: 200px;
  height: 50px;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: var(--accent-color);
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  font-weight: bold;
  padding-left: 28px;
  padding-right: 28px;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  padding-top: 13px;
  padding-bottom: 13px;
  cursor: pointer;
}

.footer-form__icon {
  height: 24px;
  width: 24px;
  margin-left: 10px;
}

@media screen and (min-width: 1200px) {
  .footer-form {
    display: flex;
    margin-left: auto;
    text-align: left;
  }
  .footer__footer-modal {
    margin-top: 0px;
    max-width: 570px;
  }
  .footer-modal__subscription {
    text-align: left;
  }
  .footer-btn {
    margin-left: 12px;
    margin-top: 0px;
  }
  .footer-form__input {
    width: 358px;
  }
}

.mobile-menu {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: #ffffff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.mobile-menu__container {
  height: 100vh;
  position: relative;
  padding-left: 25px;
  padding-top: 48px;
  padding-bottom: 48px;
}

.mobile-menu__close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  border: none;
  background-color: transparent;
  padding: 0;
  line-height: 0;
  cursor: pointer;
  background-color: var(--wite-color);
  transition: fill var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu__close-btn:hover, .mobile-menu__close-btn:focus {
  fill: var(--accent-color);
  transition: fill var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu__nav-bloc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu__icon {
  width: 40px;
  height: 40px;
  padding: 5px;
}

.mobile-menu__link {
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

.mobile-menu__contact-tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #2196F3;
}

.mobile-menu__contact-list:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__contact-link {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: #757575;
}

.mobile-menu__social {
  display: flex;
  margin-top: 64px;
  margin-right: 68px;
  justify-content: space-between;
}

.mobile-menu__social-list {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
}

.mobile-menu__social-link {
  color: var(--accent-color);
}

.mobile-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.current {
  color: var(--accent-color);
}

.mobile-menu__social-list:not(:last-child)::after {
  content: "";
  margin-left: 10px;
  margin-right: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
}

@media screen and (min-width: 768px) {
  .mobile-menu__container {
    display: none;
  }
}

.menu {
  display: none;
}

.header.border {
  border-bottom: 1px solid #ECECEC;
}

.header {
  padding-top: 16px;
  padding-bottom: 16px;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__list {
  display: none;
}

.header__mobile-menu-btn {
  line-height: 0;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  transition: fill var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1);
}

.header__mobile-menu-btn:hover, .header__mobile-menu-btn:focus {
  fill: var(--accent-color);
  transition: fill var(--transition-duration) cubic-bezier(0.4, 0, 0.2, 1);
}

.header__mobile-menu-icon {
  width: 40px;
  height: 40px;
}

.footer-addres__logo {
  animation-duration: 1000ms;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}

.footer-addres__logo > span {
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .header {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .menu {
    display: inline-flex;
    align-items: center;
  }
  .menu__item:not(:last-child) {
    margin-right: 50px;
  }
  .menu-link {
    padding-top: 32px;
    padding-bottom: 32px;
    transition-property: color;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing-function);
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var --primary-text-color;
  }
  .menu-link:hover, .menu-link:focus {
    color: var(--accent-color);
  }
  .header__list {
    display: inline;
  }
  .header__mobile-menu-btn {
    display: none;
  }
  .header__navigation {
    display: flex;
    align-items: center;
  }
  .footer-addres__logo {
    margin-right: 88px;
  }
  .list__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--second-color);
    fill: var(--second-color);
    transition-property: color;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing-function);
  }
  .list__link:hover, .list__link:focus {
    color: var(--accent-color);
  }
  .list__link:not(:last-child) {
    padding-bottom: 10px;
  }
  .list__link-cont {
    transition-property: fill;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing-function);
    margin-right: 8px;
  }
  .list__link:hover .list__link-cont,
  .list__link:focus .list__link-cont {
    transition-property: fill;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing-function);
    fill: var(--fon-batton);
  }
  .list__item:not(:last-child) {
    margin-bottom: 10px;
  }
  .header.border {
    border-bottom: 1px solid #ECECEC;
  }
  .current {
    position: relative;
    color: var(--accent-color);
  }
  .current::after {
    position: absolute;
    content: "";
    width: 100%;
    left: 0;
    bottom: 0;
    background: #2196F3;
    border-radius: 2px;
    height: 4px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-addres__logo {
    margin-right: 93px;
  }
  .header__list {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
  .list__item {
    display: flex;
    align-items: center;
  }
  .list__item:not(:last-child) {
    margin-right: 50px;
    margin-bottom: 0px;
  }
}

.hero {
  text-align: center;
  padding-top: 116px;
  padding-bottom: 120px;
  background-color: #2F303A;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-fon/fon-mob.jpg");
  min-height: 402px;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  background-position: center;
}

.hero__caption {
  max-width: 360px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  margin-top: 0px;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
  color: var(--wite-color);
  text-transform: uppercase;
  letter-spacing: 0.06em;
}

@media (min-device-pixel-ratio: 2) and (max-width: 767px), (min-resolution: 192dpi) and (max-width: 767px), (min-resolution: 2dppx) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-fon/fon-mob@2x.jpg");
  }
}

.modal-btn {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  background-color: var(--fon-batton);
  color: var(--wite-color);
  cursor: pointer;
  min-width: 200px;
  border-radius: 4px;
  padding: 10px 32px;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .hero {
    padding-top: 118px;
    padding-bottom: 118px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-fon/fon-tablet.jpg);
    min-height: 400px;
  }
}

@media (min-device-pixel-ratio: 2) and (min-width: 768px), (min-resolution: 192dpi) and (min-width: 768px), (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-fon/fon-tablet@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-fon/fon-desctop.jpg);
    max-width: 1600px;
    height: 600px;
  }
  .hero__caption {
    max-width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
  }
}

@media (min-device-pixel-ratio: 2) and (min-width: 1200px), (min-resolution: 192dpi) and (min-width: 1200px), (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-fon/fon-desctop@2x.jpg");
  }
}

.description__blok {
  width: 100%;
  height: 120px;
  background: #F5F4FA;
  border-radius: 4px;
  margin-bottom: 30px;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

.description__img {
  width: 70px;
  height: 70px;
  margin-right: auto;
  margin-left: auto;
}

.description {
  padding-top: 58px;
  padding-bottom: 60px;
}

.depiction__title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-text-color);
}

.depiction__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-color);
  margin-top: 0px;
  margin-bottom: 0px;
}

.description__item:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .description {
    padding-top: 60px;
  }
  .description__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
  .description__item:not(:last-child) {
    margin-bottom: 0px;
  }
  .description__item {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
    margin-top: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .description__blok {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
  }
  .description {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .description__list {
    flex-wrap: nowrap;
  }
  .description__item:not(:last-child) {
    margin-right: 0px;
  }
}

.work {
  display: none;
}

@media screen and (min-width: 1200px) {
  .work {
    display: block;
    padding-bottom: 94px;
  }
  .work__list {
    display: flex;
    align-items: center;
    margin-top: -30px;
    margin-left: -30px;
    flex-wrap: wrap;
  }
  .work__item {
    margin-top: 30px;
    margin-left: 30px;
  }
  .work__product {
    position: relative;
  }
  .work__heading {
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(47, 48, 58, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--wite-color);
    margin-top: 0px;
    margin-bottom: 0px;
    width: 100%;
    height: 70px;
  }
}

.structure {
  background: #F5F4FA;
}

.team-member {
  width: 100%;
  max-width: 450px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-member__subtitle {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--primary-text-color);
  margin-bottom: 10px;
  margin-top: 0;
}

.team-member__profession {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--second-color);
  margin-top: 0px;
  margin-bottom: 16px;
}

.team-member__picture {
  max-width: 100%;
}

.team-member__bloc {
  padding-top: 30px;
  padding-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .team-member__bloc {
    padding-top: 30px;
    padding-bottom: 24px;
  }
  .structure__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
  .team-member {
    margin-left: 30px;
    width: calc((100% - 60px)/2);
  }
}

@media screen and (min-width: 1200px) {
  .team-member {
    margin-left: 30px;
    width: calc((100% - 120px)/4);
    margin-bottom: 0;
  }
}

.regular-clients {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.regular-clients__element {
  margin-top: 30px;
  margin-left: 30px;
  width: calc((100% - 60px) / 2);
}

.regular-clients__link {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  transition-property: border;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.regular-clients__link:hover, .regular-clients__link:after {
  border: 1px solid #2196F3;
}

.regular-clients__item {
  transition-property: fill;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
  fill: #AFB1B8;
}

.regular-clients__link:hover .regular-clients__item,
.regular-clients__link:focus .regular-clients__item {
  fill: var(--fon-batton);
}

@media screen and (min-width: 768px) {
  .regular-clients__element {
    width: calc((100% - 90px) / 3);
  }
  .regular-clients__link {
    max-width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .regular-clients__element {
    width: calc((100% - 180px) / 6);
  }
  .regular-clients__link {
    width: 170px;
  }
}

.footer {
  background: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
}

.color {
  margin-bottom: 20px;
  margin-right: 0px;
  display: block;
  text-align: center;
}

address {
  font-style: normal;
  font-weight: normal;
}

.contacts {
  text-align: center;
}

.footer-addres__company {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--wite-color);
  text-align: center;
  margin-top: 20px;
  margin-bottom: 9px;
}

.link.color {
  color: var(--wite-color);
}

.contacts__connect {
  transition-property: color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.contacts__connect:hover, .contacts__connect:focus {
  color: var(--accent-color);
}

.contacts__element {
  margin-bottom: 9px;
}

.subscription {
  margin-top: 60px;
}

.subscription__offer {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--wite-color);
  text-align: center;
  margin-top: 0px;
  margin-bottom: 20px;
  text-align: center;
}

.subscription-list {
  display: flex;
  justify-content: center;
}

.subscription-list__element {
  transition-property: background-color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  margin-right: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.subscription-list__element:hover, .subscription-list__element:focus {
  background-color: var(--fon-batton);
}

.footer-element__icon {
  width: 20px;
  height: 20px;
  fill: var(--wite-color);
}

@media screen and (min-width: 768px) {
  .footer-container {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .subscription {
    margin-top: 0px;
  }
  .subscription__offer {
    padding-top: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .subscription__offer {
    text-align: left;
  }
  .color {
    text-align: left;
  }
  .footer-container {
    justify-content: space-between;
  }
  .contacts {
    text-align: left;
  }
  .footer-addres__company {
    text-align: left;
  }
  .subscription__offer {
    padding-top: 0px;
  }
}

.filters {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0px;
  margin-top: -8px;
  margin-bottom: 50px;
}

.filters__item {
  color: var(--primary-text-color);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  margin-top: 8px;
}

.filters__item:not(:last-child) {
  margin-right: 8px;
}

.button {
  transition-property: background-color, color, box-shadow;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
  padding: 6px 22px;
  text-align: center;
  background: #F5F4FA;
  font-size: 16px;
  line-height: 26px;
  border-radius: 4px;
  border: none;
}

.button:hover, .button:focus {
  color: #ffffff;
  background-color: var(--fon-batton);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.portfolio__list {
  margin-top: 30px;
  margin-left: 30px;
}

.portfolio__heading {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
  margin-top: 0px;
  margin-bottom: 0px;
}

.portfolio__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--second-color);
  margin-top: 0px;
  margin-bottom: 0px;
}

.portfolio__border {
  flex-grow: 1;
  background: var(--wite-color);
  padding: 20px 24px;
  border-left: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
}

.portfolio__wrapper {
  position: relative;
  overflow: hidden;
}

.portfolio__item {
  display: flex;
  flex-direction: column;
  height: 100%;
  transition-property: box-shadow;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.link .portfolio__item:hover,
.link .portfolio__item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  overflow: auto;
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: var(--transition-duration);
  transition-timing-function: linear;
  background-color: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  padding: 63px 24px 63px 24px;
  margin: 0;
}

.portfolio__item:hover .portfolio__overlay,
.portfolio__item:focus .portfolio__overlay {
  transform: translateY(0%);
}

@media screen and (min-width: 768px) {
  .filters {
    justify-content: center;
  }
  .filters__item {
    margin-top: 0px;
  }
  .portfolio__list {
    width: calc((100% - 60px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .portfolio__list {
    width: calc((100% - 90px) / 3);
  }
  .filters__item {
    margin-top: 0px;
  }
}
/*# sourceMappingURL=main.css.map */