.description__blok {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    background: #F5F4FA;
    border-radius: 4px;
}

.description__img {
    width: 70px;
    height: 70px;
}

.description {
    padding-top: 94px;
    padding-bottom: 94px;
}

.description__list {
    display: flex;
}

.description__item:not(:last-child) {
    margin-right: 30px;
}

.depiction__title {
    margin-top: 0px;
    margin-bottom: 10px;
    font-weight: 700;
    font-style: normal;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-text-color);
}

.depiction__text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--second-color);
    margin-top: 0px;
    margin-bottom: 0px;
}