body {
    font-family: 'roboto', sans-serif;
    background-color: #ffffff; 
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.link {
    text-decoration: none;
    color: #000;
}

img {
    display: block;
}