:root {
    --primary-text-color:#212121;
    --second-color:#757575;
    --accent-color:#2196F3;
    --fon-batton: #2196F3;
    --wite-color:#ffffff;
    --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    --transition-duration: 250ms;
    --background-color-backdrop: rgba(0, 0, 0, 0.2);
}